<h1>アサイン変更</h1>
<%= form_with(model: @assignment, url: routine_assignment_path, local: true)do |f| %>

  <div class='form'>
    <%= f.label :user_id,'担当者' %>
    <%= f.select :user_id, User.all.map { |user| [user.name, user.id] } %>
  </div>

  <div class="form">
    <%= f.label :start_time, '退去予定日' %>
    <%= f.date_select(
        :start_time,
        start_year: Time.now.year,
        end_year: (Time.now.year + 2)) %>
  </div>

  <div>
    <%= f.hidden_field :routine_id, value: @assignment.routine_id %>
  </div>

  <%= f.submit '登録',class:'btn btn-primary btn-block' %>

<% end %>