<h1>User Profile</h1>
<div class='row'>
  <div class='col-xs-4'>
    <%= link_to '',edit_user_path(@user.id),class:'btn btn-warning btn-lg glyphicon glyphicon-edit' %>
    <%= link_to '',user_path(@user.id),method: :delete, data: {confirm: "ユーザーアカウントを削除しますか？"}, class:'btn btn-danger btn-lg glyphicon glyphicon-trash' %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar.variant(resize: "400x250"), style:'border-radius: 5%;' %>
        <% end %>
        <%= form_with model: @user, local: true  do |f| %>
          <%= f.file_field :avatar %>
          <%= f.submit '画像を表示' %>
        <% end %>
      </div>
      <div class="panel-body">
        User ID: <%= @user.name %>
      </div>
      <div class="panel-footer">
        Email: <%= @user.email %>
      </div>
    </div>
  </div>
  <div class='col-xs-8'>
    <ul class="nav nav-pills">
      <li role="presentation" class='<%= "active" if current_page?(user_path(@user)) %>'><%= link_to user_path(@user) do %>プロファイル<% end %></li>
      <li role="presentation" class='<%= "active" if current_page?(payments_user_path(@user)) %>'><%= link_to payments_user_path(@user) do %>家賃情報<% end %></li>
      <li role="presentation"><a href="#">メニューＢ</a></li>
    </ul>
    <ul class="media-list">
      <% @payments.each do |payment| %>
        <li class="media">
          <h4 class="media-left">
            <%= payment.month.month.to_i + 1 %>月分
          </h4>
          <div class="media-body">
            <h4 class="media-heading"><%= payment.month %>支払い完了</h4>
            金額：<%= payment.amount %>
            管理者：<%= payment.confirm %>
          </div>
        </li>
      <% end %>  
    </ul>
  </div>
</div>