<% unless @payment.month.month.to_i == 12 %>
  <h1><%= @payment.month.month.to_i + 1 %>月分の入金が完了しました！</h1>
<% else %> 
  <h1>1月分の入金が完了しました！</h1>
<% end %>  


<h4>住居者名: <%= @payment.user.name %> / 部屋番号: <%= @payment.user.personnel.room %></h4>
<p>(Email:<%= @payment.user.email %>)</p>

<h2><%= @payment.payment_method %><h2>
<h4>金額: <%= @payment.amount %>円を</h4>
<h4><%= @payment.month %>日に振り込みました。</h4>
