<h2> 支払いを確定しますか？</h2>
<%= form_with(model: @payment, local: true, url: payments_path)do |f| %>

  <div class='form'>
    <%= f.label :amount,'金額' %>
    <%= f.select :amount, Payment.amounts.keys, {}, class: "select-default" %>
  </div>

  <div class="form">
    <%= f.label :month, '決済日' %>
    <%= f.date_select(
        :month,
        start_year: Time.now.year,
        end_year: (Time.now.year + 2)) %>
  </div>

  <%= f.submit '登録',class:'btn btn-primary btn-block' %>

<% end %>

</br>
<h3>支払い方法</h3>
<% if @default_card_information.blank? %>
  <br/>
<% else %>
  <%= "**** **** **** " + @default_card_information.last4 %>
  <% exp_month = @default_card_information.exp_month.to_s %>
  <% exp_year = @default_card_information.exp_year.to_s.slice(2,3) %>
  <%= exp_month + " / " + exp_year %>
<% end %>
<br/>
<%= form_tag(action: :pay, method: :post) do %>
  <button>購入する</button>
<% end %>
