<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>ShareMgr</title>
    <script src="https://js.pay.jp/" type="text/javascript"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/toppages">トップページ</a>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarEexample1">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li class='padding15 blue'>ようこそ、<%= current_user.name %>さん。</li>
              <li><%= link_to "マイページ", user_path(current_user.id) %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "新規サインアップ", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class='container'>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>
    
  </body>
</html>
